- tree_id ||= params[:tree_id]

.row
  .col-md-12
    = render '/breadcrumbs/items/tree_attachments', tree_id: tree_id

%h1.text-center
  %i.icon-attachments
  Tree-Attachments for
  %span.id= tree_id[0..5]

-if @tree_attachments.size == 0
  There are no attachments for the tree-id
  %span.id<= tree_id
  %span='.'

%table.table.table-striped
  %thead
  %tbody
    =render partial: 'attachment', collection: @tree_attachments, as: :attachment
