
.panel.panel-danger
  .panel-heading
    .h1
      Project Configuration File Error #{@configfile_response[:status].presence}

  .panel-body
    %p
      The response-body might help to understand the cause of the problem:
      %pre= @configfile_response[:body].presence || ""
