- tree_id ||= params[:tree_id]

.row
  .col-md-10
    %ol.breadcrumb.pull-left
      = render "breadcrumbs/workspace_tree_objects", tree_id: tree_id
      %li.active
        %i.icon-project-configuration
        Project-Configuration
  .col-md-2
    //= link_to workspace_tree_project_configuration_validation_path(tree_id: tree_id),
    //    class: 'btn btn-primary pull-right' do
    //  Validate!

%h1.text-center
  %i.icon-project-configuration
  Project-Configuration for
  %span.id= tree_id[0..5]

.panel.panel-default
  .panel-body
    %pre.script= @project_configuration.to_yaml
