- tree_id ||= params[:tree_id]

.row
  .col-md-12
    %ol.breadcrumb.pull-left
      = render "breadcrumbs/workspace_tree_objects_project_configuration", tree_id: tree_id
      %li.active
        Validation

%h1.text-center
  Validation for Project-Configuration
  %span.id= tree_id[0..5]



