- tree_id ||= params[:tree_id]

.row
  .col-md-12
    %ol.breadcrumb.pull-left
      = render "breadcrumbs/tree_objects", tree_id: tree_id
      %li
        = link_to workspace_tree_project_configuration_path(tree_id: tree_id) do
          %i.icon-project-configuration
          Project-Configuration
      %li.active
        Validation

%h1.text-center
  Validation for Project-Configuration
  %span.id= tree_id[0..5]



