%tr 
  %td= name
  %td 
    - if result[:success]
      %i.success.icon-online.fa.fa-fw.fa-heart
      OK 
    - else
      %i.warning.fa.fa-fw.fa-heart-o
      Failed 
  %td
    %pre.pre-scrollable= result.to_yaml



