.row
  .col-md-9
    %ol.breadcrumb.pull-left
      = render '/breadcrumbs/workspace_job', job: @job
      %li.active
        %i.icon-spec
        Specification


%section.job-specification

  %h1.text-center
    Job-Specification


  - if @job.job_specification

    %pre= @job.job_specification.data.to_yaml

  - else

    %p.text-danger

      There is no specification. Possibly something went wrong. Have a look at
      the job-issues or the log files.


