- job ||= @job
.result

  .row
    .col-md-6
      %ol.breadcrumb.pull-left
        = render '/breadcrumbs/workspace_job_result', job: job

  %h2
    Result

  = render "structured_data", data: job.result

