-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commits ||= @commits
- link_params ||= @link_params

- cs= [@link_params,@commits_cache_signatures_array]

- cache cs do |cache_signature|

  #reload-page.jobs-page{data: {cache_signature: cache_signature, reload_timeout: session_adjust_reload_timeout(3)}}

    = render 'index_head', params: params

    = render 'commits_table', commits: commits, link_params: link_params

    = paginate commits, theme: 'efficient'

