
#attachment-panel.panel.panel-default.no-padding-panel
  .panel-heading.clearfix  
    .pull-right 
      %a#open-content.btn.btn-default.btn-xs{href: @attachment.url}
        %i.fa.fa-arrows-alt 

    .pull-left
      Attachment 
      %span.monospaced= "/" + @attachment.path.split("/").drop(2).join("/")

      %p 
        %span Content-type:&nbsp;
        %span.monospaced>= @attachment.content_type
        %span ,&nbsp; content_length: 
        %span.monospaced= number_to_human_size(@attachment.content_length)

  .panel-body
    %iframe#iframe{src: @attachment.url, style: "width: 100%; height: 100%; seamless: 'seamless' "} 


