-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%li
  =link_to workspace_filter_path do
    %i.icon-workspace
    Workspace

%li
  =link_to "/cider-ci/repositories/projects/"  do
    %i.fa.fa-git-square
    Projects

%li
  = link_to (api_path + "/api-browser/index.html#" + api_path)  do
    %i.icon-api
    API Browser

%li
  =link_to "/cider-ci/docs/" do
    %i.fa.fa-file-text-o
    Documentation
