-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%li
  =link_to workspace_executions_path do
    %i.icon-execution
    Executions
%li
  =link_to workspace_commits_path do
    %i.icon-commits
    Commits

%li.dropdown.admin-frontpage-actions
  %a.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}} 
    %i.fa.fa-magic
    API
    %b.caret

  %ul.dropdown-menu
    %li
      = link_to api_base_url + "/api-browser/browser.html#" + api_path  do
        %i.fa.fa-globe
        API Browser 

    %li
      = link_to api_base_url + "/doc/api/index.html"  do
        %i.fa.fa-file-text-o
        API Documentation



