-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%li
  =link_to workspace_executions_path do
    %i.icon-execution
    Executions
%li
  =link_to workspace_commits_path do
    %i.icon-commits
    Commits

%li.dropdown.admin-frontpage-actions
  %a.dropdown-toggle{href: workspace_api_index_path, data: {toggle: 'dropdown'}} 
    %i.icon-api
    API
    %b.caret

  %ul.dropdown-menu
    = render partial: '/workspace/api/menu_items.html.haml'


