-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%li.dropdown.api-frontpage-actions
  %a.dropdown-toggle{href: admin_index_path, data: {toggle: 'dropdown'}} 
    %i.icon-administrate
    Administration
    %b.caret
  %ul.dropdown-menu
    = render partial: 'admin/navbar_actions_list'

