%li
  = link_to admin_executors_path do
    %i.fa.fa-fw.icon-executor
    Executors
%li<>
  = link_to admin_users_path do
    %i.fa.fa-fw.fa-users
    Users
%li.divider
%li<>
  = link_to admin_status_path do
    %i.fa.fa-fw.fa-dashboard
    Server status
%li.divider
%li
  = link_to edit_admin_welcome_page_settings_path do
    %i.fa.fa-fw.icon-welcome-page-settings
    Welcome page settings


