.orientation.row
  .col-md-9
    %ol.breadcrumb.pull-left
      = render '/breadcrumbs/task', task: @task
      %li.active
        %i.icon-spec
        Specification

  .col-md-3
    %ol.breadcrumb.with-circle-separator.pull-right
      %li
        = link_to specification_workspace_task_path(@task, format: :json) do
          %i.fa.fa-file-code-o
          JSON
      %li
        = link_to specification_workspace_task_path(@task, format: :yaml) do
          %i.fa.fa-file-code-o
          YAML




%section.task-specification

  %h1.text-center
    Task-Specification


  - if @task.task_specification

    %pre= @task.task_specification.data.to_yaml

  - else

    %p.text-danger

      There is no specification. Possibly something went wrong. Have a look at
      the task-issues or the log files.


