-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


=form_group "Name", control_id: "definition_name"  do
  = form.text_field :name, autofocus: true, class: "form-control", readonly: definition.persisted?

=form_group "Is default", control_id: "definition_is_default"  do
  = form.check_box :is_default, class: "checkbox"

=form_group "Description", control_id: "definition_description", cols_control: 8 do
  = form.text_area :description, class: "form-control", style: "height: 5em" 

=form_group "Specification", control_id: "specification_data", cols_control: 8 do
  = text_area :specification, :data, value: (@previous_data || @definition.specification.data.to_yaml), class: "form-control", style: "height: 20em" 
