-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- definition ||= @definition 

= form_for definition, url: admin_definitions_path, method: 'POST', class: "form-horizontal" do |form|

  = render 'form_elements', definition: definition, form: form
      
  =form_group "", cols_control: 8 do
    = button_tag type: 'submit', class: "btn btn-primary pull-right" do
      Create

