
%li
  = link_to api_base_url + "/api-browser/browser.html#" + api_path  do
    %i.icon-browse
    API Browser 

%li
  = link_to api_base_url + "/doc/api/index.html"  do
    %i.icon-docs
    API Documentation


