-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- executions ||= @executions
- link_params ||= @link_params

.row
  .col-md-6
    %ol.breadcrumb.pull-left
      = render partial: "/breadcrumbs/executions" 

- cache @execution_cache_signatures.map{|cs| [ params, cs.tasks_signature, 
    cs.commits_signature, cs.branches_signature, 
    cs.repositories_signature]} do |cache_tag|

  #reload-page.executions-page{data: {cache_tag: cache_tag, reload_timeout: session_adjust_reload_timeout(10)}}

    .pull-right
      =render 'index_filter_form'

    %h1 
      Jobs

    .clearfix

    = render partial: "executions_table", executions: executions, link_params: link_params

    #executions-pagination.replace-without-animation.reload{data: {cache_tag: cache_tag}}
      = paginate executions, theme: 'default'


