.row
  .col-md-9
    %ol.breadcrumb.pull-left
      = render '/breadcrumbs/execution', execution: @execution
      %li.active Specification



%h1 Specification 

%p This is the specification which was used to build the corresponding tasks.

- if @execution.specification and @execution.specification.try(:data) == @execution.expanded_specification.try(:data)

  %pre= @execution.expanded_specification.data.to_yaml

- else 

  - if @execution.specification 

    %h2 Raw Specification 

    %pre= @execution.specification.data.to_yaml

  - if @execution.expanded_specification 

    %h2 Expanded Specification 

    %pre= @execution.expanded_specification.data.to_yaml





    

