
.row
  .col-md-6
    %ol.breadcrumb.pull-left
      = render '/breadcrumbs/trial', trial: @trial
      %li.inactive
        Issues

%ul.list-unstyled 
  = render partial: 'issue', collection: @issues 

= paginate @issues, theme: 'default'

