= render partial: "/breadcrumbs/executions" 

%li 
  = link_to workspace_executions_path(tree_id: execution.tree_id), class: "aktive" do
    Related jobs
%li 
  = link_to workspace_execution_path(execution), class: "aktive" do
    Job

