%tr
  %td= name
  %td
    - if result.is_ok
      %i.success.icon-online.fa.fa-fw.fa-heart
      OK
    - else
      %i.warning.fa.fa-fw.fa-heart-o
      Failed
  %td
    - if result.content.present?
      %pre.pre-scrollable= result.content.to_yaml
    - else
      %pre.pre-scrollable== result.to_h.to_yaml

