%table.table
  %thead
    %tr
      %th Service
      %th Status
      %th Info
  %tbody

    = render 'status_row', result: ServiceCheck.check_server, name: "Server Service"
    -# update of inshape gem required
    -# = render 'status_row', result: InShape::Memory.status, name: "UI"
    = render 'status_row', result: {}, name: "UI"
