%table.table
  %thead
    %tr
      %th Service
      %th Status
      %th Info
  %tbody

    = render 'status_row', result: ServiceCheck.check_api, name: "API Service"
    = render 'status_row', result: ServiceCheck.check_server, name: "Server Service"
    = render 'status_row', result: ServiceCheck.check_storage, name: "Storage Service"
    = render 'status_row', result: InShape::Memory.status, name: "UI"
