:ruby
  show_build ||= false
  major= semver['version_major'].presence
  minor= semver['version_minor'].presence
  patch= semver['version_patch'].presence
  pre = semver['version_pre'].presence
  build= semver['version_build'].presence

%span.semantic-version<>
  %span.major<>
    =major.to_s
  %span.minor<>
    %span.divider<>='.'
    =semver['version_minor'].to_s
  - if patch && ( patch != 0 || pre || build )
    %span.minor<>
      %span.divider<>='.'
      = patch
  - if pre
    %span.version<>
      %span.divider<>='-'
      #{pre}
  - if build && show_build
    %span.build<>
      %span.divider<>='+'
      = build
