%span.semantic-version<>
  %span.major<>
    =semver['version_major'].to_s
  %span.minor<>
    %span.divider<>='.'
    =semver['version_minor'].to_s
  %span.minor<>
    %span.divider<>='.'
    =semver['version_patch'].to_s
  - if semver['version_pre'].present?
    %span.version<>
      %span.divider<>='-'
      =semver['version_pre'].to_s
  - if semver['version_build'].present?
    %span.build<>
      %span.divider<>='+'
      =semver['version_build'].to_s
