-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- trial ||= @trial
- cache trial.cache_signature do 
  - task = trial.task
  - job = task.job
  - state ||= trial.state
  %tr
    %td
      .label{class: label_class_for_state(state)}<
        %i{class: icon_class_for_state(state)} 

    %td
      %small 
        =render 'humanized_time_from_now', at: trial.created_at

    %td
      %small
        =link_to workspace_task_path(task) do
          #{task}

    %td 
      %small
        =job.name
        on
        =link_to_commit job.commit

    %td
      = link_to workspace_trial_path(trial) do
        %i.icon-eye-open 
        details ...
