-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

#welcome-page.cider-ci.text-center

  - cache WelcomePageSettings.find.cache_signature do 
    #welcome_message
      =markdown(WelcomePageSettings.find.welcome_message)

  %hr 

  #reload-page{data: { reload_timeout: 30}}


    %section#radiator.radiator.reload.replace-without-animation

      - @radiator_rows.each do |row |

        %table.table.radiator-table
          %thead
          %tbody
            %tr
              - row[:items].map(&:deep_symbolize_keys).each do |item|
                %td 
                  = render '/public/badges/medium.svg.haml',{view_params: item, 
                    options: {include_stylesheet: false, xlink_show_value: 'replace'}}

  %hr 

  %h2 About Cider-CI

  %p#release-info
    Version  
    =Settings.release.version_major
    %span<>.
    =Settings.release.version_minor
    %span<>.#{Settings.release.version_patch}
    %span<>#{Settings.release.version_pre.to_s}
    %span<>#{Settings.release.version_build.to_s}



  %p
    %strong
      Cider-CI is an application and service stack for highly parallelized testing and continuos integration.

  %p 
    Read more about Cider-CI on the 
    %a{href: "https://github.com/cider-ci/cider-ci"} Cider-CI github project page.

