-#  Copyright (C) 2013, 2014, 2015 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

#welcome-page.cider-ci.text-center

  - cache CacheSignature.signature(WelcomePageSettings.find.cache_signature) do
    #welcome_message
      =markdown(WelcomePageSettings.find.welcome_message)

  %hr

  #reload-page{data: { reload_timeout: 30}}

  %hr

  %h2 About Cider-CI

  %p#release-info
    = link_to "https://github.com/cider-ci/cider-ci/blob/master/config/releases.yml" do
      Version&nbsp;
      = render partial: 'application/semantic_version',
        locals: { semver: Semver.get }

      - if release_name = Settings.releases[0].name
        %em "#{release_name}"

  %p
    %strong
      Cider-CI is an application and service stack for
      highly parallelized testing and continuous integration.

  %p
    Read more about Cider-CI on the
    %a{href: "https://github.com/cider-ci/cider-ci"}
      Cider-CI github project page.
